.general_cointainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-items: center;
    text-align: center;
    overflow: hidden;
}


.body {
    margin: 2%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse; 

    th, td {
        padding: 10px; 
        border: 1px solid #ddd; 
    }
}

thead {
    background-color: #f1f1f1;
    font-weight: bold;
}

.tabla_scroll {
    max-height: 200px;
    overflow: auto; 
    width: 100%;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    margin: 10%;

    form {
        display: flex;
        flex-direction: column;
        font-size: medium;
    }

    input {
        margin: 4%;
        padding: 10px; 
        border: 1px solid #ddd;
    }

}