<!-- <form action="/actualizar" method="POST">
    <input type="text" name="nombre" placeholder="Nombre">
    <input type="number" name="cedula" placeholder="Cédula">
    <input type="number" name="edad" placeholder="Edad">
    <input type="text" name="nacionalidad" placeholder="Nacionalidad">
    <button type="submit">Enviar</button>
</form>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>cedula</th>
            <th>Edad</th>
            <th>Nacionalidad</th>
        </tr>
    </thead>
    <tbody>
        {% for jugador in jugadores %}
        <tr>
            <td>{{ jugador[0] }}</td>
            <td>{{ jugador[1] }}</td>
            <td>{{ jugador[2] }}</td> 
            <td>{{ jugador[3] }}</td> 
        </tr>
        {% endfor %}
    </tbody>
</table> -->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Jugadores de Tenis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./styles.css') }}">

</head>

<body>

    <h1>Jugadores de Tenis</h1>
    
    <div class="container">

        <div class="formulario">
            <h2>Ingresar Jugador</h2>
            <form class="formulario1" id="formulario1">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                <input type="number" name="cedula" id="cedula" placeholder="Cédula" required>
                <input type="number" name="edad" id="edad" placeholder="Edad" required>
                <input type="text" name="nacionalidad" id="nacionalidad" placeholder="Nacionalidad" required>
                <button type="submit">Enviar</button>
            </form>
        </div>

        <div class="tabla">
            <h2>Jugadores Registrados</h2>
            <table id="tabla_contenido">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cédula</th>
                        <th>Edad</th>
                        <th>Nacionalidad</th>
                    </tr>
                </thead>
                <tbody>

                    <tr data-cedula="12345678">
                        <td class="nombre">Juan Pérez</td>
                        <td class="cedula">12345678</td>
                        <td class="edad">28</td>
                        <td class="nacionalidad">Argentina</td>
                        <td>
                            <a class="btn_eliminar" href="#">Eliminar</a>
                            <a class="btn_actualizar" href="#">Actualizar</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>

</body>



