<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugadores de Tenis</title>
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="general_cointainer">
        <div class="aside">
            <h2>Agregar Jugador</h2>
            <form id="formulario">
                <input type="text" id="nombre" placeholder="Nombre" required>
                <input type="number" id="cedula" placeholder="Cédula" required>
                <input type="number" id="edad" placeholder="Edad" required>
                <input type="text" id="nacionalidad" placeholder="Nacionalidad" required>
                <button type="submit">Agregar</button>
            </form>
        </div>


        <div class="body">
            <div class="header">
                <h1>Gestión de Jugadores</h1>
            </div>

            <h2>Lista de Jugadores</h2>
            <div class="tabla_scroll">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cédula</th>
                            <th>Edad</th>
                            <th>Nacionalidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tabla-jugadores">
                    </tbody>
                </table>
            </div>


            <h2>Estadísticas</h2>
            <table>
                <thead>
                    <th>Número de jugadores</th>
                    <th>Edad promedio</th>
                    <th>Nacionalidad más común</th>
                </tr>
                </thead>
                <tr id="estadisticas">
                    <td id="num-jugadores">-</td>
                    <td id="promedio-edad">-</td>
                    <td id="nacionalidad-mas-repetida">-</td>
                </tr>
            </table>

        </div>
    </div>

</body>

</html>